.about-text {
    flex: 1;
    padding: 0 50px;
  }

.about-image img {
    padding: 10px;
    max-width: 65%;
    height: 50%;
    margin-left: 35%;
}

.about-image {
    flex: 1;

  }

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text p{
font-size: 18px;
  }